In [ ]:
import pandas as pd
import numpy as np
import os
import re
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/' #Change to folder path

#create dataframes
labelled = pd.read_csv(path+"onehot2000.csv", sep='\t', encoding='utf-16')
danish = pd.read_csv(path+"03_Data_Modeling/full_translated_danish.csv")
english = pd.read_csv(path+"03_Data_Modeling/full_translated_english.csv")
swedish = pd.read_csv(path+"03_Data_Modeling/full_translated_swedish.csv", sep='\t', encoding='utf-16')
finnish = pd.read_csv(path+"03_Data_Modeling/full_translated_finnish.csv", sep='\t', encoding='utf-16')
german = pd.read_csv(path+"03_Data_Modeling/full_translated_german.csv", sep='\t', encoding='utf-16')

#Investigate tranlation errors

In [ ]:
# Filter rows containing "NT1 NT1" in the 'Translation' column
NT1_labelled = labelled[labelled['Translation'].str.contains(r'NT1\s+NT1', regex=True, na=False)]

# Print the filtered DataFrame
NT1_labelled.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Translation        0 non-null      object
 1   URL                0 non-null      object
 2   Date               0 non-null      object
 3   Language           0 non-null      object
 4   Sentiment          0 non-null      object
 5   refugee_sentiment  0 non-null      object
 6   one_hot            0 non-null      object
dtypes: object(7)
memory usage: 0.0+ bytes

In [ ]:
# Filter rows containing "NT1 NT1" in the 'Translation' column
NT1_danish = danish[danish['Translation'].str.contains(r'NT1\s+NT1', regex=True, na=False)]

# Print the filtered DataFrame
NT1_danish.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102 entries, 55 to 21269
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          102 non-null    object
 1   URL           102 non-null    object
 2   Hit Sentence  102 non-null    object
 3   Language      102 non-null    object
 4   Sentiment     102 non-null    object
 5   Translation   102 non-null    object
dtypes: object(6)
memory usage: 5.6+ KB

In [ ]:
# Filter rows containing "NT1 NT1" in the 'Translation' column
NT1_english = english[english['Translation'].str.contains(r'NT1\s+NT1', regex=True, na=False)]

# Print the filtered DataFrame
NT1_english.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          0 non-null      object
 1   URL           0 non-null      object
 2   Hit Sentence  0 non-null      object
 3   Language      0 non-null      object
 4   Sentiment     0 non-null      object
 5   Translation   0 non-null      object
dtypes: object(6)
memory usage: 0.0+ bytes

In [ ]:
# Filter rows containing "NT1 NT1" in the 'Translation' column
NT1_swedish = swedish[swedish['Translation'].str.contains(r'NT1\s+NT1', regex=True, na=False)]

# Print the filtered DataFrame
NT1_swedish.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          0 non-null      object
 1   URL           0 non-null      object
 2   Hit Sentence  0 non-null      object
 3   Language      0 non-null      object
 4   Sentiment     0 non-null      object
 5   Translation   0 non-null      object
dtypes: object(6)
memory usage: 0.0+ bytes

In [ ]:
# Filter rows containing "NT1 NT1" in the 'Translation' column
NT1_finnish = finnish[finnish['Translation'].str.contains(r'NT1\s+NT1', regex=True, na=False)]

# Print the filtered DataFrame
NT1_finnish.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          0 non-null      object
 1   URL           0 non-null      object
 2   Hit Sentence  0 non-null      object
 3   Language      0 non-null      object
 4   Sentiment     0 non-null      object
 5   Translation   0 non-null      object
dtypes: object(6)
memory usage: 0.0+ bytes

In [ ]:
# Filter rows containing "NT1 NT1" in the 'Translation' column
NT1_german = german[german['Translation'].str.contains(r'NT1\s+NT1', regex=True, na=False)]

# Print the filtered DataFrame
NT1_german.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          0 non-null      object
 1   URL           0 non-null      object
 2   Hit Sentence  0 non-null      object
 3   Language      0 non-null      object
 4   Sentiment     0 non-null      object
 5   Translation   0 non-null      object
dtypes: object(6)
memory usage: 0.0+ bytes

#Processing all

In [ ]:
#change here!
df = english

Drop NT1

In [ ]:
# Filter rows containing "NT1 NT1" in the 'Translation' column
df_clean = df[~df['Translation'].str.contains(r'NT1\s+NT1', regex=True, na=False)]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70707 entries, 0 to 70706
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          70707 non-null  object
 1   URL           70707 non-null  object
 2   Hit Sentence  70707 non-null  object
 3   Language      70707 non-null  object
 4   Sentiment     70707 non-null  object
 5   Translation   70707 non-null  object
dtypes: object(6)
memory usage: 3.2+ MB

Drop repetative @USER and URL

In [ ]:
def replace_multiple_user_occurrences(text):
    # Replace consecutive occurrences of "@USER" or "@user" with just one occurrence
    return re.sub(r'(@USER|@user)(\s+\1)+', r'\1', text)

# Apply the function to the 'Translation' column of df_clean
df_clean['Translation'] = df_clean['Translation'].apply(replace_multiple_user_occurrences)

In [ ]:
def replace_multiple_URL_occurrences(text):
    # Replace consecutive occurrences of "@USER" or "@user" with just one occurrence
    return re.sub(r'(URL)(\s+\1)+', r'\1', text)

# Apply the function to the 'Translation' column of df_clean
df_clean['Translation'] = df_clean['Translation'].apply(replace_multiple_URL_occurrences)

Drop rows where words are occuring repetatively (to combat translation issues)

In [ ]:
# Function to identify rows with duplicate consecutive words or phrases
def find_duplicate_words(text):
    # Use regular expression to find duplicate consecutive words or phrases
    return re.search(r'\b(\w+)\b\s+\1\b', text)

# Apply the function to the 'Translation' column
df_clean = df_clean[~df_clean['Translation'].apply(lambda x: bool(find_duplicate_words(x)))]

df_clean.info()

#the following changes to the number of rows/tweets occurred
#danish 21573 -> 21450
#swedish 54001 -> 53711
#finnish 57305 -> 57081
#german 59234 -> 58948

<class 'pandas.core.frame.DataFrame'>
Index: 70211 entries, 0 to 70706
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          70211 non-null  object
 1   URL           70211 non-null  object
 2   Hit Sentence  70211 non-null  object
 3   Language      70211 non-null  object
 4   Sentiment     70211 non-null  object
 5   Translation   70211 non-null  object
dtypes: object(6)
memory usage: 3.7+ MB

In [ ]:
# Save the sampled DataFrame
df_clean.to_csv('/.csv', sep='\t', encoding='utf-16')